.book-cover {
  border: solid 2px blue;
  min-height: 350px;
  
  
  -webkit-box-shadow: 4px 6px 14px 0px rgba(63, 57, 222, 1);
  -moz-box-shadow: 4px 6px 14px 0px rgba(63, 57, 222, 1);
  box-shadow: 4px 6px 14px 0px rgba(63, 57, 222, 1);
}

:host {
  display: flex;
  overflow: scroll;
  gap: 16px;
}

.img-container {
 
  img {
    object-fit: contain;
    
  }
}